* {
  margin: 0;
  padding: 0;
}

.Border {
  border: 1px solid ;
  border-radius: 10px;
  width: 700px;
  margin: 0px auto;
  margin-top: 40px;
  padding: 10px;
}

.Box1 {
  display: block;
  margin-bottom: 1em;
  margin-top: 40px;
  margin-left: 30px;
}

.Name {
  display: inline-block;
  font-weight: bold;
  width: max-content;
}

.Text {
  display: inline-block;
  width: max-content;
  margin-left: 40px;
}

.item {
  display: inline-block;
  font-weight: bold;
  width: max-content;
}

.Checkbox {
  display: inline-block;
  width: max-content;
  margin-left: 80px;
  
}

.Submit {
  display: inline-block;
  margin:10px 0px 10px 30px; ;
}

.Box2 {
  display: block;
  margin-bottom: 1em;
  margin-left: 30px;
  width: max-content;
}

.Tugas10 {
  padding: 20px;

}


table,th,td{
  border: 1px solid ;
  border-collapse: collapse;
  width: 700px;
  margin: 0px auto;
  border: groove;
}

th{
  background-color: #D3D3D3;
  padding: 5px;
}

td{
  background-color:#FFA07A;
  padding: 3px;
}